//---------------------------------------------
//
//  Table of Contents
//
//    1. Basics
//    2. Page Layout
//    3. Components
//
//---------------------------------------------

//---------------------------------------------
// 1. Basics
//---------------------------------------------

@import "variables";
@import "bootstrap";
@import "fonts";

// If you do not want to load the customized bootstrap version, just use the following line.
// @import "~bootstrap/scss/bootstrap";

//---------------------------------------------
// 2. Page Layout
//---------------------------------------------

body {

    .btn {
        color: #FFF;
        text-transform: uppercase;
        font-family: Arial;
        font-weight: bold;
        height: 50px;
        border-radius: 0;
        padding: 15px, 20px;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    .navbar {
        background-color: transparent;
        height: 86px;

        border-bottom-color: #707070;
        border-bottom-style: solid;

        img {
            width: 200px;
            height: 56px;
        }

        li a {
            color: #FFF;
            font-family: Arial;
            size: 20px;
            justify-content: center;
            align-items: center;
        }

        li a:hover {
            color: #25d29b;
        }
    }


    .hero-wrapper {

        background-image: url("../images/hero_image.png");
        background-size: cover;
        height: 1007px;
        width: 100%;
        margin-top: -86px;
   
        .second-wrapper {

            background-image: linear-gradient(to right, rgba(45,45,45,1), rgba(0,0,0,0));
            height: 1007px;
            width: 100%;
        }
    
        .container {
            margin-left: 200px;
        }

            h1 {
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                text-transform: uppercase;
                font-size: 119.21px;
                font-weight: 900;
                margin-top: 243px;
                line-height: 35*3px;
                
                .white-text {
                    color: transparent;
                    -webkit-text-stroke: 2px #FFF;
                } 
            }

            p {
                color: #FFF;
                font-size: 20px;
                text-align: left;
            }

            .logo-wrapper {

                margin-top: 397px;

                .blurred-decoration {

                    img {
                        width: 75px;
                        height: 75px;
                    }

                    background: #fff;
                    height: 95px;
                    border-radius: 50px 0px 0px 50px;
                    display: flex;
                    align-items: center;
                    margin-bottom: 10px;
                    width: 208px;

                    backdrop-filter: blur(35px);

                    .bd-wp {
                        margin-left: 1712px;
                    }
                }
            }
}

}

//---------------------------------------------
// 3.Components
//---------------------------------------------

@import "components/slider";
