//---------------------------------------------
//
//  Table of Contents
//
//    1. Basics
//    2. Page Layout
//    3. Components
//
//---------------------------------------------

//---------------------------------------------
// 1. Basics
//---------------------------------------------

@import "variables";
@import "bootstrap";
@import "fonts";


// If you do not want to load the customized bootstrap version, just use the following line.
// @import "~bootstrap/scss/bootstrap";

//---------------------------------------------
// 2. Page Layout
//---------------------------------------------

body {

     /*decorator, parent position: relative!
    <div class="triangle-decoration"> 
    </div>

    */
    .triangle-decoration {
        position: absolute;
        top: 0px;
        right: 100%;
        height: 183px;
        width: 182px;
        background-image: linear-gradient(to top right, #25d29d 50%, #2d2d2d 50%);
        z-index: 1;
    }

    .btn {
        color: #FFF;
        text-transform: uppercase;
        font-family: Arial;
        font-weight: bold;
        height: 50px;
        border-radius: 0;

        display: flex;
        align-items: center;
        justify-content: center;
    }

//NABBAR
    .navbar {
        background-color: transparent;
        height: 86px;

        border-bottom-color: #707070;
        border-bottom-style: solid;

        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 3;

        img {
            width: 200px;
            height: 56px;
        }

        li a {
            color: #FFF;
            font-family: Arial;
            size: 20px;
            justify-content: center;
            align-items: center;
            margin-right: 20px;
        }

        li a:hover {
            color: #25d29b;
        }
    }

// MAIN SCREEN
    .hero-wrapper {

        background-image: url("../images/hero_image.png");
        background-size: cover;
        width: 100%;
        height: 100vh;
        position: relative;
        padding: 100px 0;

        &:after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: linear-gradient(to right, rgba(45,45,45,1), rgba(0,0,0,0));
            z-index: 1;

        }

        * {
            z-index: 2;
        }

        h1 {
            text-transform: uppercase;
            font-size: 119.21px;
            font-weight: 900;
            line-height: 105px;

                
            .white-text {
                color: transparent;
                -webkit-text-stroke: 2px #FFF;
            } 
        }

        .underlined {
            position: relative;

            &:after {
                content: "";
                position: absolute;
                top: 100%;
                margin-top: 3px;
                height: 5px;
                width: 100%;
                background: $primary;
                left: 0;
              }
        }

        p {
            color: #FFF;
            font-size: 20px;
            text-align: left;
            margin-top: 20px;
            margin-bottom: 0;
        }

        .logo-wrapper {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 208px;
            right: 0;
            overflow: hidden;

            .blurred-decoration {

                img {
                    width: 75px;
                    height: 75px;
                    margin-left: 10px;
                }

                    background-color: rgba(255,255,255,0.5);
                    height: 95px;
                    border-radius: 50px 0px 0px 50px;
                    display: flex;
                    align-items: center;
                    margin-bottom: 10px;
                    width: 208px;

                    backdrop-filter: blur(35px);
                }

                .bd-ft {
                    margin-left: 15px;
                }

                .bd-ui {
                    margin-left: 31px;
                }
            }
}

//FIRST SLIDE

    .white-section {
        background: #FFF;

        .first-title {
            margin-top: 70px;
        }

        .second-title {
            margin-top: 20px;
            position: relative;
            left: 300px;

        }

        h2 {
            text-transform: uppercase;
            font-size: 90px;
            line-height: 0.8;
            white-space: nowrap;

            .white-text {
                color: transparent;
                -webkit-text-stroke: 2px #2d2d2d;
            } 
        }

        .whitelabel-promises {
            margin-top: 70px;
            color: #2d2d2d;
            font-size: 25px;

            .second-paragraph {
                color: #878787;
                font-size: 20px;
            }
        }



        .numbered-text-wrapper {
                flex-direction: column;

            .numbered-text {
                position: relative;
                text-align: right;

                .short-text {
                    position: relative;
                    z-index: 2;
                }

                .shadow-numbers {
                    color: #25d29b;
                    font-size: 100px;
                    font-weight: 900;
                    text-shadow: -10px -10px 0 #25d29b;
                    -webkit-text-fill-color: transparent;
                    -webkit-text-stroke: 2px;
                    position: absolute;
                    right: 0;
                    top: 0;
                    transform: translatex(75%) translatey(-50%);
                    z-index: 1;
                }
            }
        }
    }
//SECOND SLIDE, DARK BG

    .second-slide {
        background-color: #2d2d2d;
        position: relative;

        &:before {
            content:"";
            position: absolute;
            top: 0;
            left: 0;
            height: 183px;
            width: 182px;
            background-image: linear-gradient(to top right, #25d29d 50%, #2d2d2d 50%);
            transition: width 0.25s, height 0.25s;
            z-index: 1;
        }

        .slide-title {
            text-transform: uppercase;
            line-height: 1;
            font-size: 49px;
            font-weight: 900;
        }

        .content-wrapper {
            justify-content: right;
        }

        .content-box-outline {
            position: relative;
            border: 1px solid #707070;
            height: 100%;
            padding: 16px 16px 16px 48px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            img {
                position: absolute;
                height: 65px;
                width: 65px;
                top: 50%;
                left: 0;
                transform: translatey(-50%) translateX(-50%);
            }
        }

        span {
            font-size: 20px;
            color: #FFF;
            font-weight: bold;
        }

        p {
            font-size: 15px;
            color: #FFF;
            margin-top: 15px;
            margin-bottom: 0;
        }

    }

//Number section
    .number-section {

        img {
            height: 142px;
            width: 85px;
        }

        .small-text {
            font-size: 25px;
        }

        .number {
            color: #2d2d2d;
            font-size: 150px;
            font-weight: 900;
            text-shadow: 10px 10px 0 #25d29b;
            -webkit-text-stroke: 2px;


        }
        
    }

//Services section

    .services-section {
        background-color: #2d2d2d;
        position: relative;

        &:before {
            content:"";
            position: absolute;
            top: 0;
            left: 0;
            height: 183px;
            width: 182px;
            background-image: linear-gradient(to top right, #25d29d 50%, #2d2d2d 50%);
            transition: width 0.25s, height 0.25s;
            z-index: 1;
        }

        /* .slide-title {
            font-weight: 900;
            text-transform: uppercase;
            font-size: 49px;
            align-items: center;

            span {
                display: flex;
                justify-content: center;
            }
        } */

        .service-item-box {
            background-color: #FFF;
            border-radius: 50px 0 0 0;
            position: relative;
            height: 100%;
            padding: 15px;

            display: flex;
            flex-direction: column;

            .service-item-header {

            }

            img {
                width: 75px;
                height: 75px;
                margin-right: 15px;
            }

            h4 {
                font-family: Arial;
                font-size: 25px;
                font-weight: bold;
                margin-bottom: 0;
            }

            .sub-title {
                color: #25d29b;
                font-size: 15px;
            }

        }
    }

    //Form section

    .image-wrapper {
        background-image: url("../images/bottom_image.png");
        background-size: cover;
        width: 100%;
        margin-top: 100px;
        margin-bottom: 100px;

        .title {
            text-transform: uppercase;
            font-size: 95px;
            font-weight: 900;
            line-height: 70px;
            white-space: nowrap;
        
            .title-first-part {
                color: #25d29b;
                display: flex;
            }

            .title-second-part {
                display: flex;
                margin-top: 20px;
                color: transparent;
                -webkit-text-stroke: 2px #FFF;
            }
        }

        .content-row {
            color: #FFF;
            margin-top: 50px;
            font-size: 15px;

            .greentext {
                text-transform: uppercase;
                color: #25d29b;
                font-weight: bold;
            }

            .bottompart {
                display: block;
                font-size: 31px;
                white-space: nowrap;
            }

            .form-check {
                margin-top: 10px;
                margin-bottom: 20px;
            }
        }
    }

    //footer

    .last-section {
        background-color: #2d2d2d;
        position: relative;

        &:before {
            content:"";
            position: absolute;
            top: 0;
            left: 0;
            height: 183px;
            width: 182px;
            background-image: linear-gradient(to top right, #25d29d 50%, #2d2d2d 50%);
            transition: width 0.25s, height 0.25s;
            z-index: 1;
        }

        .outlined-square {
            border: 1px solid #707070;
            color: #FFF;

            width: 100%;
            
        }

        .first-square {

            .logo-image {
                margin: 10px 0;
            }
            .greentext {
                text-transform: uppercase;
                color: #25d29b;
                font-weight: bold;
                display: block;
            }

            .phone-mail {
                font-size: 20px;
            }
            
        }

        .middle-square {

            font-weight: bold;
            justify-content: space-between;

            img {
                height: 50px;
                width: 50px;
            }

            .logo-desc {
                margin-left: 15px;
            }
        }

        .third-square {
            text-transform: uppercase;
            font-size: 28px;
            line-height: 30px;
            font-weight: 900;
            position: relative;
            padding-top: 10px;

            .second-text {
                display: flex;
                color: transparent;
                -webkit-text-stroke: 1px #FFF;
            }

            .btn {
                position: absolute;
                bottom: 2px;
                left: 10px;
            }
        }
    }

    @media only screen and (max-width: 1700px) {

        .second-slide:before {
            height: 135px;
            width: 135px;
        }

        .services-section:before {
            height: 135px;
            width: 135px;
        }

        .last-section:before {
            height: 135px;
            width: 135px;
        }
    }

    @media only screen and (max-width: 1600px) {
        .second-slide:before {
            height: 90px;
            width: 90px;
        }

        .services-section:before {
            height: 90px;
            width: 90px
        }

        .last-section:before {
            height: 90px;
            width: 90px
        }
    }

    @media only screen and (max-width: 1500px) {
        .second-slide:before {
            height: 0;
            width: 0;
        }

        .services-section:before {
            height: 0;
            width: 0;
        }

        .last-section:before {
            height: 0;
            width: 0;
        }
    }

}

//---------------------------------------------
// 3.Components
//---------------------------------------------

@import "components/slider";
